mixin userList
    +b.userList
        +e.item
            +e.wrapUserInfo
                +e.wrapAvatar
                    +e.IMG.avatarImg(src="i/images/avatar.jpg")
                +e.wrapName
                    +e.SPAN Крят
                    +e.SPAN Владислав
                    +e.SPAN Владимирович
            +e.wrapUserStatus
                +e.wrapStatus
                    +e.SPAN.statusName Прочитано
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName На руках
                    +e.statusCount 1
                +e.wrapStatus
                    +e.SPAN.statusName Избранное
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName Отзывов
                    +e.SPAN.statusCount 10
            +e.A.linkAbout(href="#") Подробнее

        +e.item
            +e.wrapUserInfo
                +e.wrapAvatar
                    +e.IMG.avatarImg(src="i/images/avatar.jpg")
                +e.wrapName
                    +e.SPAN Крят
                    +e.SPAN Владислав
                    +e.SPAN Владимирович
            +e.wrapUserStatus
                +e.wrapStatus
                    +e.SPAN.statusName Прочитано
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName На руках
                    +e.statusCount 1
                +e.wrapStatus
                    +e.SPAN.statusName Избранное
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName Отзывов
                    +e.SPAN.statusCount 10
            +e.A.linkAbout(href="#") Подробнее

        +e.item
            +e.wrapUserInfo
                +e.wrapAvatar
                    +e.IMG.avatarImg(src="i/images/avatar.jpg")
                +e.wrapName
                    +e.SPAN Крят
                    +e.SPAN Владислав
                    +e.SPAN Владимирович
            +e.wrapUserStatus
                +e.wrapStatus
                    +e.SPAN.statusName Прочитано
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName На руках
                    +e.statusCount 1
                +e.wrapStatus
                    +e.SPAN.statusName Избранное
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName Отзывов
                    +e.SPAN.statusCount 10
            +e.A.linkAbout(href="#") Подробнее

        +e.item
            +e.wrapUserInfo
                +e.wrapAvatar
                    +e.IMG.avatarImg(src="i/images/avatar.jpg")
                +e.wrapName
                    +e.SPAN Крят
                    +e.SPAN Владислав
                    +e.SPAN Владимирович
            +e.wrapUserStatus
                +e.wrapStatus
                    +e.SPAN.statusName Прочитано
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName На руках
                    +e.statusCount 1
                +e.wrapStatus
                    +e.SPAN.statusName Избранное
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName Отзывов
                    +e.SPAN.statusCount 10
            +e.A.linkAbout(href="#") Подробнее

        +e.item
            +e.wrapUserInfo
                +e.wrapAvatar
                    +e.IMG.avatarImg(src="i/images/avatar.jpg")
                +e.wrapName
                    +e.SPAN Крят
                    +e.SPAN Владислав
                    +e.SPAN Владимирович
            +e.wrapUserStatus
                +e.wrapStatus
                    +e.SPAN.statusName Прочитано
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName На руках
                    +e.statusCount 1
                +e.wrapStatus
                    +e.SPAN.statusName Избранное
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName Отзывов
                    +e.SPAN.statusCount 10
            +e.A.linkAbout(href="#") Подробнее

        +e.item
            +e.wrapUserInfo
                +e.wrapAvatar
                    +e.IMG.avatarImg(src="i/images/avatar.jpg")
                +e.wrapName
                    +e.SPAN Крят
                    +e.SPAN Владислав
                    +e.SPAN Владимирович
            +e.wrapUserStatus
                +e.wrapStatus
                    +e.SPAN.statusName Прочитано
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName На руках
                    +e.statusCount 1
                +e.wrapStatus
                    +e.SPAN.statusName Избранное
                    +e.SPAN.statusCount 10
                +e.wrapStatus
                    +e.SPAN.statusName Отзывов
                    +e.SPAN.statusCount 10
            +e.A.linkAbout(href="#") Подробнее
