.reviewsList {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 700px;

  &:before,
  &:after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    width: 32%;
    margin-bottom: 30px;
    box-sizing: border-box;

    &:nth-child(3n+1) { order: 1; }
    &:nth-child(3n+2) { order: 2; }
    &:nth-child(3n)   { order: 3; }
  }

  &__wrapInfoBook {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  &__wrapImgBook {
    margin-right: 30px;
    background: #FFF1EB;
    border-radius: 2px;
    min-width: 85px;
  }

  &__imgBook {
    width: 100%;
    height: auto;
  }

  &__wrapInfo {
    display: flex;
    flex-direction: column;
  }

  &__bookTitle {
    font-size: 14px;
    line-height: 20px;
    color: #1A1A1A;
    @include fontRobotoRegular;
    margin-bottom: 2px;
  }

  &__authorBook {
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    @include fontRobotoRegular;
  }

  &__reviewsText {
    font-size: 14px;
    line-height: 20px;
    color: #1A1A1A;
    @include fontRobotoLight;
  }

  &__linkFullReviews {
    font-size: 14px;
    line-height: 20px;
    color: #64B5F6;
    @include fontRobotoRegular;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }
}