.search {
  position: relative;
  max-width: 770px;
  width: 100%;
  display: flex;
  align-items: center;

  &__input {
    background: #fff;
    height: 40px;
    border-radius: 8px;
    padding-left: 80px;
    width: 100%;
    color: #808080;
    @include fontRobotoRegular;
    font-size: 14px;
    outline: none;
    border: none;

    @media screen and (max-width: 1200px){
      padding-left: 60px;
    }
  }

  &__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
    color: #808080;
    font-size: 20px;
    transform: translateY(-50%);
    background: url("../i/icons/searh.svg") no-repeat;
    background-size: cover;
  }
}