mixin aboutBook
    +b.aboutBook
        +e.title Описание
        +e.text
            | Овладейте современным передовым опытом разработки веб-приложений, взаимодействующих с базами данных,
            | с помощью PHP 7 и MySQL 5.7! В этом новом 5-м издании книги, признанной наиболее ясным,
            | удобным и практичным руководством по разработке с использованием PHP и MySQL,
            | полностью отражены возможности последних версий PHP и MySQL. В первой части содержится ускоренный курс по PHP,
            | в котором описано хранение/извлечение данных, массивы, строки, регулярные выражения,
            | повторное использование кода, объекты и обработка ошибок исключений. Во второй части раскрывается проектирование,
            | создание, доступ и программирование для баз данных MySQL. Третья часть посвящена безопасности веб-приложений;
            | в ней добавлена новая информация по угрозам веб-безопасности,
            | приведены инструкции по построению защищенных веб-приложений,
            | а также рассмотрена реализация аутентификации в PHP и MySQL.