mixin infoBook
    +b.infoBook
        +e.wrapStatus
            +e.avatar
                +e.IMG.imgAvatar(src="#")
            +e.status Книга свободна
        +e.BUTTON.interactionBook Взять бумажную версию