include general/_

doctype html
html(lang='ru')
    +head
    body

        +header

        +b.MAIN.main
            +panel
            +contentHeader('Программирование', '42 книги')
            +bookList