include general/_

doctype html
html(lang='ru')
    +head
    body

        +header

        +b.MAIN.main
            +panel

            +b.ARTICLE.title Новинки

            +b.bookSlider
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей
                +e.A.item(href="#")
                    +e.DIV.wrapImg
                        +e.img(src="./i/images/bookSlider1.jpg" alt="")
                    +e.DIV.category Программирование
                    +e.DIV.name Думай и богатей

            +b.ARTICLE.title Рекомендации

            +b.blockCategoryBook
                +e.A.item(href="#")
                    +e.DIV.titleCategory Популярное
                    +e.DIV.countBook 5 книг
                +e.A.item(href="#")
                    +e.DIV.titleCategory Популярное
                    +e.DIV.countBook 5 книг
                +e.A.item(href="#")
                    +e.DIV.titleCategory Популярное
                    +e.DIV.countBook 5 книг
                +e.A.item(href="#")
                    +e.DIV.titleCategory Популярное
                    +e.DIV.countBook 5 книг

        script(src="js/vendor.min.js")
        script(src="js/vendor2.min.js")
        script(src="js/main.js")
