include ../../libs/bemto/bemto

include head
include header
include footer
include panel

include ../components/content/header/title
include ../components/content/header/filter
include ../components/content/header/tags
include ../components/content/header/contentHeader

include ../components/content/body/bookList

include ../components/bookPage/imgBook
include ../components/bookPage/infoBook
include ../components/bookPage/optionBook
include ../components/bookPage/aboutBook
include ../components/bookPage/downloadBook

include ../components/redingRoom/userList

include ../components/readingRoomUser/listBlock
