mixin reviewsList
    +b.UL.reviewsList
        +e.LI.item
            +e.wrapInfoBook
                +e.wrapImgBook
                    +e.IMG.imgBook(src="i/images/bookImg.jpg")
                +e.wrapInfo
                    +e.bookTitle Изучаем PHP 7. Руководство по созданию интерактивных веб-сайтов
                    +e.authorBook Давид Скляр
            +e.wrapReviewsText
                +e.SPAM.reviewsText
                    | Самая популярная в мире книга среди изданий о достижении успеха,
                    | одна из первых в сегменте о личной эффективности и богатства!\
                    | Более сорока переизданий только в США! Более 20 миллионов проданных копий!
                    | Это знаменитый бестселлер «Думай и богатей» Наполеона Хилла!
                    | Аудиокнигу в России представляет издательство AB Publishing. Книга журналиста и психолог бал...
                +e.A.linkFullReviews &nbsp;Весь отзыв

        +e.LI.item
            +e.wrapInfoBook
                +e.wrapImgBook
                    +e.IMG.imgBook(src="i/images/bookImg.jpg")
                +e.wrapInfo
                    +e.bookTitle Изучаем PHP 7. Руководство по созданию интерактивных веб-сайтов
                    +e.authorBook Давид Скляр
            +e.wrapReviewsText
                +e.SPAM.reviewsText
                    | Самая популярная в мире книга среди изданий о достижении успеха,
                    | одна из первых в сегменте о личной эффективности и богатства!\
                    | Более сорока переизданий только в США! Более 20 миллионов проданных копий!
                    | Это знаменитый бестселлер «Думай и богатей» Наполеона Хилла!
                    | Аудиокнигу в России представляет издательство AB Publishing. Книга журналиста и психолог бал...
                +e.A.linkFullReviews &nbsp;Весь отзыв

        +e.LI.item
            +e.wrapInfoBook
                +e.wrapImgBook
                    +e.IMG.imgBook(src="i/images/bookImg.jpg")
                +e.wrapInfo
                    +e.bookTitle Изучаем PHP 7. Руководство по созданию интерактивных веб-сайтов
                    +e.authorBook Давид Скляр
            +e.wrapReviewsText
                +e.SPAM.reviewsText Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at eum harum magnam magni modi sequi sunt tempore! Autem deserunt dignissimos expedita fuga inventore maiores molestiae non nulla reiciendis similique!
                +e.A.linkFullReviews &nbsp;Весь отзыв

        +e.LI.item
            +e.wrapInfoBook
                +e.wrapImgBook
                    +e.IMG.imgBook(src="i/images/bookImg.jpg")
                +e.wrapInfo
                    +e.bookTitle Изучаем PHP 7. Руководство по созданию интерактивных веб-сайтов
                    +e.authorBook Давид Скляр
            +e.wrapReviewsText
                +e.SPAM.reviewsText Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, odio?
                +e.A.linkFullReviews &nbsp;Весь отзыв

        +e.LI.item
            +e.wrapInfoBook
                +e.wrapImgBook
                    +e.IMG.imgBook(src="i/images/bookImg.jpg")
                +e.wrapInfo
                    +e.bookTitle Изучаем PHP 7. Руководство по созданию интерактивных веб-сайтов
                    +e.authorBook Давид Скляр
            +e.wrapReviewsText
                +e.SPAM.reviewsText Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consequatur consequuntur ducimus eligendi impedit, minus molestiae mollitia, numquam, provident tempora ut. Accusamus at blanditiis consectetur dolores ducimus ea esse ex fuga fugiat harum illum impedit, ipsa magni nulla odit quo repellendus sed sequi sint, tempora totam, vel voluptate. Ad aperiam eum facere hic in molestias nostrum qui sunt voluptatem?
                +e.A.linkFullReviews &nbsp;Весь отзыв

        +e.LI.item
            +e.wrapInfoBook
                +e.wrapImgBook
                    +e.IMG.imgBook(src="i/images/bookImg.jpg")
                +e.wrapInfo
                    +e.bookTitle Изучаем PHP 7. Руководство по созданию интерактивных веб-сайтов
                    +e.authorBook Давид Скляр
            +e.wrapReviewsText
                +e.SPAM.reviewsText Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, odio?
                +e.A.linkFullReviews &nbsp;Весь отзыв
