include title
include tags

mixin contentHeader(sectionName, countPage, filter, tags)
    +b.contentHeader
        +e.wrap
            +title(sectionName, countPage, filter)
        if tags == true
            +tags
