mixin tags
    +b.tagsHeader
        +e.BUTTON.item Все
        +e.BUTTON.item.active Бекенд
        +e.BUTTON.item Фронтенд
        +e.BUTTON.item Android
        +e.BUTTON.item IOS
        +e.BUTTON.item Angular
        +e.BUTTON.item Swift
        +e.BUTTON.item Java
        +e.BUTTON.item React