include filter

mixin title(titlePage, countPage, filter)
    +b.titleContent
        +e.titleText= titlePage
        if countPage == ''
            +e.countBooks= countPage
        if filter == true
            +filter
